{% load static %}
<!DOCTYPE html>
<html lang="en">
{% include 'header.html' %}
<body data-spy="scroll" data-target="#site-nav">
<div class="se-pre-con"></div>

    {% include 'navbar.html' %}
        {% block content %}
    <section id="login" class="section login">
        <div class="container">	
	        <div class="row">
	        {% if user.is_authenticated %}
  Hi {{ user.username }}!
{% else %}
  <p>You are not logged in</p>
  <a href="{% url 'auth:login' %}">login</a>
{% endif %}
<h2>Login</h2>
<form method="post">
  {% csrf_token %}
  {{ form.as_p }}
  <button type="submit">Login</button>
</form>
                            </form>


			        <!-- End form -->
		        </div>
		        
	        
		        
	        </div>
        </div>
</section>
        {% endblock %}


    {% include 'footer.html' %}
    </body>
</html>
