{% extends "base.html" %}
{% load static %}
 {% block content %}
<section id="password_reset" class="section password_reset container-fluid">
<div class="container">

<div><h4> Recovery Email </h4></div>
<br>
 Kindly enter your email ID used for registration. The password reset link will be mailed to the same.
<br><br>
<form action="" method="post">
    {% csrf_token %}
   {{ form.email.errors }}
    <p><label for="id_email">E-mail address:</label> {{ form.email }} 

      <br/>
      <br><input type="submit" class ="btn btn-primary gradient" style="border: none;" value="Reset Password" /></p>

    <!-- <button class="btn btn-sm btn-primary" type="submit">Request</button>
    <a class="btn btn-sm " href="{{URL_ROOT}}/accounts/login/">Cancel</a> -->
</form>
</div>

<div class="row" style="margin-top: 4vh;"></div>
</section>
{% endblock %}
