{% load static %}

<!DOCTYPE HTML>
<html>
  <head>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
      <meta name="description" content="">
      <meta name="author" content="">
      <link rel="icon" href="{% static 'img/fevicon.png'%}" type="icon">
      <title>SciPy India 2017</title>
      <!-- Bootstrap core CSS -->
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
      <link href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
      <!-- Custom styles for this template -->
      <link href="{% static 'css/one-page-wonder.css' %}" rel="stylesheet">
   </head>
  <body>


      {% block header %}
       <header id="header1" style="background-color: #01c3d9;">
       <center>
            <h1>SciPy India 2017</h1>
            <h2>Reset Password</h2>
       </center>
       </header> 
{% endblock %}

{% block content %}
<div id="wrapper" style="margin-left: 10%;">
<div id="main">
<section id="content" class="main">
    {% if validlink %}
    <br>
   <p>Please enter your new password twice.</p>
           <br>
        <form action="" method="post">
            <div style="display:none">
                <input type="hidden" value="{{ csrf_token }}" name="csrfmiddlewaretoken">
            </div>
            <table>
              <colgroup>
                <col width="40%" />
                     <col width="60%" />
              </colgroup>
                <tr>
                    <td>{{ form.new_password1.errors }}
                        <label for="id_new_password1" >New password:</label></td>
                    <td>{{ form.new_password1 }}</td>
                </tr>
                <tr>
                    <td>{{ form.new_password2.errors }}
                        <label for="id_new_password2" >Confirm password:</label></td>
                    <td>{{ form.new_password2 }}</td>
                </tr>
                <tr>
                    <td></td>
                    <td><br> <button class= "btn btn-sm btn-primary gradient" type="submit" onclick="return checkform(this);">Submit</button> 
                </tr>
                <br>
            </table>
        </form>
    {% else %}
        <p>The password reset link is invalid,
        possibly because it has already been used. <br />
        Please request a new password reset.</p><br/>
    {% endif %}
</section>
</div>
</div>

<script>
function checkform(form) { 
    // alert("in");
    var pwd1 = document.getElementById("id_new_password1");
    // alert(pwd1.value);
    var pwd2 = document.getElementById("id_new_password2");
    //return false;
    if(pwd1.value.length && pwd2.value.length < 8) { 
     
        alert("Error: Password must contain at least eight characters!"); 
        pwd1.focus();     
        pwd1.value = "";
        pwd2.value = "";
        return false;      
    }   
}

</script>
{% endblock %}
