{% extends "base.html" %}
{% load static %}
 {% block content %}
          <section id="abstract_details" class="section abstract_details">
        <div class="container">
            <p>
            <center>
                <h2>Abstract Details</h2>
            </center>
            </p>
            <h3><span class="label label-primary">{{ proposal.user.first_name }} {{ proposal.user.last_name }}</span></h3>
            <hr>
            <p><b>Title: </b>&nbsp;{{ proposal.title }}</p>
            <p><b>About Me: </b>&nbsp;{{ proposal.about_me | linebreaks }}</p>
            <p><b>Abstract: </b>&nbsp;{{ proposal.abstract |linebreaks }}</p>
            {% if proposal.prerequisite %}
            <p><b>Prerequisite: </b>&nbsp;{{ proposal.prerequisite |linebreaks }}</p>
            {% endif%}
            <p><b>Duration: </b>&nbsp;{{ proposal.duration }} {% if proposal.proposal_type == "ABSTRACT"%} Mins {% else %}Hours {%endif%}</p>
            {% if proposal.proposal_type == "ABSTRACT"%}
            <p><b>Tags: </b>&nbsp;{{ proposal.tags }}</p>
            {% else %}
            <p><b>Level: </b>&nbsp;{{ proposal.tags }}</p>
            {% endif %}
            <p><b>Date Created: </b>&nbsp;{{ proposal.date_created }}</p>
            {% if url %}
            <p><b>Attachment: </b>&nbsp;
                <a href="{{ url }}" class="btn btn-info" target="_blank">{{filename}}</a>
            </p>
            {% endif %}
            <p><b>Comments: </b>
            <hr>
            {% for comment in comments %}
            <div>
                <strong>Comment By:</strong>
                {{ comment.user.first_name }} {{ comment.user.last_name }}
                <p>{{ comment.comment| linebreaks }}</p>
            </div>
            <hr>
            {% endfor %}
        </div>
        </section>
        {% endblock %}

