
{% load static %}
<!-- Header-->
{% block header %}
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="title" content="SciPy India - International conference on Python for education and computing">
    <meta name="description" content="SciPy India is a conference providing opportunities to spread the use of the Python programming language in the Scientific Computing community in India. It provides a unique opportunity to interact with the Who's who of the Python for Scientific Computing fraternity and learn, understand, participate, and contribute to Scientific Computing using Python. One of the goals of the conference is to combine education, engineering, and science with computing through the medium of Python.">
    <meta name="keywords" content="SciPy, SciPyIndia 2018, Python,SciPy India 2018,SciPy India conference,Scientific Computing">
    <!-- <link rel="icon" href="{% static 'website/bootstrap-css/assets/images/logo.png' %}" type="icon"> -->
    <title>NCCSP 2018</title>
    <script src="{% static 'website/bootstrap-css/assets/js/1.5.2/jquery.min.js' %}"></script>
    <script src="{% static 'website/bootstrap-css/assets/js/2.8.2/modernizr.js' %}"></script>

    <!-- css -->
    <link rel="stylesheet" href="{% static 'website/bootstrap-css/assets/css/font-awesome.min.css' %}">
    <link rel="stylesheet" href="{% static 'website/bootstrap-css/bower_components/bootstrap/dist/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'website/bootstrap-css/bower_components/ionicons/css/ionicons.min.css' %}">
    <link rel="stylesheet" href="{% static 'website/bootstrap-css/assets/css/main.css' %}">
    <link rel="stylesheet" href="{% static 'website/bootstrap-css/assets/css/custom.css' %}">
    <link rel="stylesheet" href="{% static 'website/bootstrap-css/custom.css' %}">

<script type="text/javascript">
// Wait for window load
jQuery(document).ready(function($){
    $(window).load(function() {
        // Animate loader off screen
        $(".se-pre-con").fadeOut("slow");
    });

    });

</script>
</head>

{% endblock %}
