
{% load static %}
<!-- Header-->
{% block header %}
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="title" content="NCCPS-2018">
    <meta name="description" content="The National Conference on Chemical Process Simulation-2018 is a confluence of academia and industry. This is an excellent opportunity for fostering academic and industrial collaborations. It is the place to meet the experts in chemical process simulation from all over the country. This conference provides a national platform to showcase the work done in this area by students and faculty.">
    <meta name="keywords" content="DWSIM, OpenModelica, FOSSEE, NCCPS-2018, Chemical Engineering, IIT Bombay, MHRD">
    <link rel="icon" href="{% static 'website/bootstrap-css/assets/images/favicon.png' %}" type="icon">
    <title>NCCPS 2018</title>
    <script src="{% static 'website/bootstrap-css/assets/js/1.5.2/jquery.min.js' %}"></script>
    <script src="{% static 'website/bootstrap-css/assets/js/2.8.2/modernizr.js' %}"></script>

    <!-- css -->
    <link rel="stylesheet" href="{% static 'website/bootstrap-css/assets/css/font-awesome.min.css' %}">
    <link rel="stylesheet" href="{% static 'website/bootstrap-css/bower_components/bootstrap/dist/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'website/bootstrap-css/bower_components/ionicons/css/ionicons.min.css' %}">
    <link rel="stylesheet" href="{% static 'website/bootstrap-css/assets/css/main.css' %}">
    <link rel="stylesheet" href="{% static 'website/bootstrap-css/custom.css' %}">
    <script type="text/javascript">
// Wait for window load
jQuery(document).ready(function($){
    $(window).load(function() {
        // Animate loader off screen
        $(".se-pre-con").fadeOut("slow");
    });

    });

</script>
</head>

{% endblock %}
