{% load static %}
<!-- Navigation -->
{% block home %} 
<div id="home" data="home"></div>
    <header id="site-header" class="site-header valign-center img-fluid"> 
        <div class="intro">
            <img class="img img-fluid" src="{% static 'website/bootstrap-css/assets/images/backgrounds/top_2.png' %}" alt=""><br><br><!-- 
            <a class="btn btn-primary" href="{% url 'website:cfp' %}">Submit a paper</a> <br><br>  -->
        </div>
    </header>

    <section id="about" class="section about">
        <div class="container">
            <div class="row">
                <div class="col-sm-6">

                    <h3 class="section-title">About the Conference</h3>

                    <p class="text-justify">The National Conference on Chemical Process Simulation-2018 is a confluence of academia and industry. This is an excellent opportunity for fostering academic and industrial collaborations. It is the place to meet the experts in chemical process simulation from all over the country. This conference provides a national platform to showcase the work done in this area by students and faculty.
                    </p>
                </div><!-- /.col-sm-6 -->

                <div class="col-sm-6">
                     <h3 class="section-title multiple-title" align="center"><u>News and Updates</u></h3>
                    <a class="twitter-timeline" data-width="500" data-height="380" href="https://twitter.com/nccps2018?ref_src=twsrc%5Etfw">Tweets by nccps2018</a> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
                </div><!-- /.col-sm-6 -->
            </div><!-- /.row -->
        </div><!-- /.container -->
    </section>

    <section id="facts" class="section bg-image-1 facts text-center">
        <div class="container">
            <div class="row">
                <div class="col-sm-4">
                    <i class="ion-ios-calendar"></i>
                    <h3>November 26 <br>2018</h3>
                </div>
                <div class="col-sm-4">
                    <i class="ion-ios-location"></i>
                    <h3>Lecture Hall Complex, <br>IIT Bombay</h3>
                </div>
                <div class="col-sm-4">
                    <i class="ion-speakerphone"></i>
                    <h3>Registration in Progress</h3>
                </div>
            </div><!-- row -->
        </div><!-- container -->
    </section>

    <section id="speakers" class="section speakers">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h3 class="section-title">Speakers</h3>
                </div>
            </div>

            <div class="row">
                <div class="col-md-6">
                    <div class="speaker">
                        <figure>
                            <img alt="" class="img-responsive center-block img-rounded" src="{% static 'website/bootstrap-css/assets/images/speakers/madhavan.png' %}" style="max-width: 70%;height: 253px;" data-toggle="modal" data-target="#myModal">
                        </figure>

                        <h4>Prof. K P Madhavan</h4>

                        <p style="text-transform: none;">Emeritus Professor, Dept. of Chemical Engineering, IIT Bombay</p>
                        <div class="modal fade spkrmodal" id="myModal" role="dialog">
                        <div class="modal-dialog">
                        <!-- Modal content-->
                          <div class="modal-content">
                            <div class="modal-header">
                              <button type="button" class="close" data-dismiss="modal">&times;</button>
                              <h4 class="modal-title">Prof. K P Madhavan</h4>
                            </div>
                            <div class="modal-body">
                              <p class="text-justify">Prof. K. P. Madhavan is currently an Emeritus Professor at the Department of Chemical Engineering at IIT Bombay. He has served the department since 1960s in several eminent positions such as Head of Chemical Engineering and Dean (R&D). He was decorated with the life time achievement award by IIT Bombay as well as by the International Society of Automation. Prof. Madhavan is a globally recognized leader in the areas of process systems engineering (modelling, optimization, instrumentation and control, fault detection and diagnosis, and decision support systems).</p>
                            </div>
                            <div class="modal-footer">
                              <button type="button" class="btn btn-info" data-dismiss="modal">Close</button>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div><!-- /.speaker -->
                </div><!-- /.col-md-4 -->

                <div class="col-md-6">
                    <div class="speaker">
                        <figure>
                            <img alt="" class="img-responsive center-block img-rounded" src="{% static 'website/bootstrap-css/assets/images/speakers/alok.png' %}" style="max-width: 70%;height: 253px;" data-toggle="modal" data-target="#myModal1">
                        </figure>
                        <h4>Mr. Alok Pandit</h4>
                        <p style="text-transform: none;">Equinox Software and Services Private Limited</p>
                        <div class="modal fade spkrmodal" id="myModal1" role="dialog">
                        <div class="modal-dialog">
                          <!-- Modal content-->
                          <div class="modal-content">
                            <div class="modal-header">
                              <button type="button" class="close" data-dismiss="modal">&times;</button>
                              <h4 class="modal-title">Mr. Alok Pandit</h4>
                            </div>
                            <div class="modal-body">
                              <p class="text-justify">Mr. Alok is presently leading a team of professionals as the founder director of Equinox in the area of IT enabled chemical engineering services. He worked as the Country Head and Vice President for Aspen Tech India, leading the business in India and Southern Asia, before starting Equinox. He has an experience of about 30 years in refinery operations, software applications in chemical industry and business management.</p>
                            </div>
                            <div class="modal-footer">
                              <button type="button" class="btn btn-info" data-dismiss="modal">Close</button>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div><!-- /.speaker -->
                </div><!-- /.col-md-4 -->
            </div><!-- /.row -->
        </div>
    </section>

    <section id="workshops" class="section workshops">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <h3 class="section-title">Workshops</h3>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <p class="text-justify">Improve your skills by attending workshops on DWSIM and OpenModelica organized at NCCPS-2018.
            </p>
            <p class="text-justify">We are organizing free workshops for all who register for NCCPS-2018.  Attend the workshop suitable to you and explore the free tools that are of interest to you.
            </p>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12"> 
            <center>
              <a href="{% url 'website:workshops' %}" class="btn btn-primary"> Read more</a>
            </center>
          </div>
        </div>
      </div>
    </section>
  
    <section id="registration" class="section registration">
      <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h3 class="section-title">Registration</h3>
                </div>
            </div>
            <div class="row">
              <div class="col-md-12">
                <p class="text-justify">
                This ticket allows you to ONLY attend the conference (workshops,oral & poster  presentations, job fair) for 1 Day including breakfast, Lunch, Tea. It does not include Accommodation, Dinner & T-Shirt. This is a non-refundable and non-transferable ticket. There will be an additional 18% charge for GST.
                </p>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12">
                  <table class="table table-bordered table-responsive" style="font-weight: 400;">
                    <tr  class="schedule-header">
                    <td style="vertical-align:bottom;border-top:none;!important">
                          <div class="align-baseline">
                          Ticket type
                          </div>
                    </td>
                    <td style="vertical-align:bottom;border-top:none;!important">
                          <div class="align-baseline">
                          Student
                          </div>
                    </td>
                    <td style="vertical-align:bottom;border-top:none;!important">
                          <div class="align-baseline">
                          Faculty
                          </div>
                    </td>
                    <td style="vertical-align:bottom;border-top:none;!important">
                          <div class="align-baseline">
                          Industry participant
                          </div>
                    </td>
                    </tr>
                    <tr>
                    <td style="vertical-align:bottom;border-top:none;!important">
                          <div class="align-baseline">
                          Regular Registration
                          <br>(15 Sept 2018 - 16 Nov 2018)    
                          </div>
                    </td>
                    <td style="vertical-align:bottom;border-top:none;!important">
                          <div class="align-baseline">
                          INR 750 + 18% = INR 885
                          </div>
                    </td>
                    <td style="vertical-align:bottom;border-top:none;!important">
                          <div class="align-baseline">
                          INR 1,000 + 18% = INR 1,180

                          </div>
                    </td>
                    <td style="vertical-align:bottom;border-top:none;!important">
                          <div class="align-baseline">
                          INR 2,000 + 18% = INR 2,360
                          </div>
                    </td>
                    </tr>
                    <tr>
                    <td style="vertical-align:bottom;border-top:none;!important">
                          <div class="align-baseline">
                          Spot Registration
                          </div>
                    </td>
                    <td style="vertical-align:bottom;border-top:none;!important">
                          <div class="align-baseline">
                          INR 900 + 18% = INR 1,062
                          </div>
                    </td>
                    <td style="vertical-align:bottom;border-top:none;!important">
                          <div class="align-baseline">
                          INR 12,00 + 18% = INR 1,416
                          </div>
                    </td>
                    <td style="vertical-align:bottom;border-top:none;!important">
                          <div class="align-baseline">
                          INR 2,500 + 18% = INR 2,950
                          </div>
                    </td>
                    </tr>
                    <tr>

              <td colspan="4">
              <p style="color: red" class="text-justify">
              *If you are a group of 5 and above please contact us at <a style="color: black" href="mailto:contact-dwsim@fossee.in">contact-dwsim[at]fossee[dot]in</a> for the registrations.
            </p>
              <p class="text-justify"><span><b>Payment instructions:</b></span></p>
                <p><span class="text-justify">Please read the instructions carefully, before proceeding for Registration.</span></p>
                <ol>
                <li><span class="text-justify">Please make the payment for the conference through Net banking using NEFT or RTGS or IMPS</span></li>
                <li><span class="text-justify">Account Details for transaction are mentioned below:</span></li>
                <ul>
                <li><span class="text-justify">Bank Name - State Bank of India</span></li>
                <li><span class="text-justify">Branch Name - IIT, &nbsp;Powai Branch</span></li>
                <li><span class="text-justify">Bank address - Adi Shankaracharya marg, &nbsp;IIT Bombay, Powai, Mumbai - 400076</span></li>
                <li><span class="text-justify">9-Digit Code no. of the bank and the branch - 400002034</span></li>
                <li><span class="text-justify">Account number - 10725729128</span></li>
                <li><span class="text-justify">IFSC Code/ NEFT/ RTGS code - SBIN0001109</span></li>
                <li><span class="text-justify">Swift Code - SBININBB519</span></li>
                </ul>
                <li><span class="text-justify">After successful payment take the screenshot of the final transaction. Save this screenshot as you have to upload it in the form. </span></li>
                <li><span class="text-justify">Collect your transaction reference number / UTR number from the bank. Note it down somewhere you have to fill this detail in the form as well.</span></li>
                <li><span class="text-justify">After verification of your payment by our team, we shall send you the ticket for the conference via email. This shall take 2-3 working days.</span>
                </li>
                </ol>
              </td>
              </tr>
                  </table>
                </div>
            </div>
            <div class="row">
            <div class="col-md-12">
            
            <p class="text-justify" style="color: red;">
                *Spot registration will be subject to availability.
                </p>
            <h3 style="background-color: #806600;color: #fff;" class="col-sm-2">Add ons</h3>
              </div>
            </div>
            <div class="row">
            <div class="col-md-12">
            <table class="table table-bordered table-responsive" style="font-weight: 400;">
              <tr>
              <td style="vertical-align:bottom;border-top:none;!important">
                <div class="align-baseline">
                  Accomodation<br>
                  Add on
                </div>
              </td>
              <td style="vertical-align:bottom;border-top:none;!important">
                <div class="align-baseline">
                <ul>
                  <li>We have limited Low cost accommodation, guaranteed only if you register early. Approximate cost  of the accomodation for 1 night will be INR. 1250/- to INR. 1400/-.</li>
                  <li>For students, low-cost accommodation ranging from INR 300/- to INR 400/- can be arranged.</li>
                  <li>You have to make the payment directly to the hotel during check-out via cash / card.</li>
                </ul>
                </div>
              </td>
              </tr>
              <tr>
              <td style="vertical-align:bottom;border-top:none;!important">
                <div class="align-baseline">
                  T Shirt<br>
                  Add on
                </div>
              </td>
              <td style="vertical-align:bottom;border-top:none;!important">
                <div class="align-baseline">
                  Change of size, exchange at the venue is not available. This is  a non-refundable and non-transferable ticket. The T-shirt cost will be INR 350/- each. You will have to make the payment at the venue.
                </div>
              </td>
              </tr>
            </table>
            </div>
            </div>
            <div class="row">
              <div class="col-md-12">
              <center>
                <a href ="https://docs.google.com/forms/d/e/1FAIpQLSc9QJBaxxesym9-rBPBDVXqiR8dheVu_bM_arHAsNfAxFsHFg/viewform" class="btn btn-primary" target ="_blank">Register now</a>
              </center>
              </div>
            </div>
      </div>      
    </section>

    <section id="coc" class="section coc">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h3 class="section-title">Code Of Conduct</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                     <p class="text-justify">We appreciate your participation in NCCPS 2018. We want you to have an enjoyable and enriching experience in the conference. For this all the attendees are required to conform to the following Code of Conduct. Organisers will ensure that it is enforced throughout the event.
                     <div id="demo" class="collapse">
                        <div class="card-text">
                           <p>NCCPS is dedicated to providing a harassment-free conference experience for everyone, regardless of age, gender, sexual orientation, physical appearance, disability, race, religion or employment.
                           </p>
                           <p>Harassment includes offensive verbal comments related to gender, sexual orientation, disability, physical appearance, body size, race, religion, sexual images in public spaces, deliberate intimidation, stalking, following, harassing photography or recording, sustained disruption of talks or other events, inappropriate physical contact, and unwelcome sexual attention. We have zero tolerance on harassment of conference participants in any form, including, but not limited to the activities mentioned here.
                           </p>
                           <p>Participants asked to stop any harassing behavior are expected to comply immediately.
                           </p>
                           <p>All communication should be appropriate for a professional audience, including people from many different backgrounds. Sexual language or imagery is inappropriate for all aspects of the conference, including talks. Remember that sexist, racist or any other form of exclusionary or offensive jokes or excessive public swearing are not appropriate at any venue of NCCPS.
                           </p>
                           <p>Do not insult or put down attendees or engage in any action that violates the open, welcoming and sharing spirit of the conference. Be kind and sensitive to the people around you when you are attending the conference, and avoid any kind of offensive or degrading behavior.
                           </p>
                           <p>
                              <b>If a participant engages in behavior that violates this code of conduct, the conference organizers may take any action they deem appropriate, including warning the offender or expulsion from the conference with no refund.
                              </b>
                           </p>
                           <p>Thank you for helping to make NCCPS a welcoming, friendly event for all.
                           </p>
                           <p>
                              <b>Contact Information:
                              </b>
                           </p>
                           <p>If you are being harassed, notice that someone else is being harassed, or have any other concerns, please contact a member of conference staff. Conference staff will be wearing "NCCPS: Organiser" badges.
                           </p>
                           <p>Conference staff will be happy to help participants contact venue security or local law enforcement, provide escorts, or otherwise assist those experiencing harassment to feel safe for the duration of the conference. We value your attendance.
                           </p>
                           <p>
                              <b>License:
                              </b>
                           </p>
                           <p>This Code of Conduct was forked from PSF Code of Conduct by Python Software Foundation which is under a Creative Commons Attribution 3.0 Unported License.
                           </p>
                           <p>NCCPS Conference Code of Conduct is licensed under a Creative Commons Attribution 3.0 Unported License.
                           </p>
                        </div>

                     </div>
                     </p>
                     <center>
                        <button type="button" class="btn btn-black" data-toggle="collapse" data-target="#demo">
                            <i class="fa fa-arrow-down" aria-hidden="true"></i>
                            <i class="fa fa-arrow-up" aria-hidden="true"></i>
                        </button>
                    </center>
            </div>
          </div>
        </div>
    </section>


    <section id="schedule" class="section schedule">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h3 class="section-title">Tentative Schedule</h3>
                </div>
            </div>
            <div class="row">
              <div class="col-md-12">
                <p class="text-justify" style="font-weight: 500;"> Poster session - 8AM onwards</p>
              </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                  <div>
                  <table class="table table-bordered" style="align-content: center !important;font-weight: 400;">
                    <tr  class="schedule-header">
                        <td style="vertical-align:bottom;border-top:none;!important">
                          <div class="align-baseline">
                          Time
                          </div>
                        </td>
                        <td style="vertical-align:bottom;border-top:none;!important">
                          <div class="align-baseline">
                          Program
                          </div>
                        </td>
                    </tr>
                    <tr>
                        <td style="vertical-align:bottom;border-top:none;!important">
                          <div class="align-baseline">
                              08:00  - 09:00 
                          </div>
                        </td>
                        <td style="vertical-align:bottom;border-top:none;!important">
                          <div class="align-baseline">
                              Registration
                          </div>
                        </td>
                    </tr>
                    <tr>
                        <td style="vertical-align:bottom;border-top:none;!important">
                          <div class="align-baseline">
                            09:00  - 09:30 
                          </div>
                        </td>
                        <td style="vertical-align:bottom;border-top:none;!important">
                          <div class="align-baseline">
                            Inauguration
                          </div>
                        </td>
                    </tr>
                    <tr>
                        <td style="vertical-align:bottom;border-top:none;!important">
                          <div class="align-baseline">
                              09:30  - 10:30 
                          </div>
                        </td>
                        <td style="vertical-align:bottom;border-top:none;!important">
                          <div class="align-baseline">
                              Invited talks
                          </div>
                        </td>
                    </tr>
                    <tr>
                        <td style="vertical-align:bottom;border-top:none;!important">
                          <div class="align-baseline">
                              10:30  - 11:00 
                          </div>
                        </td>
                        <td style="vertical-align:bottom;border-top:none;!important">
                          <div class="align-baseline">
                              Tea
                          </div>
                        </td>
                    </tr>
                    <tr>
                        <td style="vertical-align:bottom;border-top:none;!important">
                          <div class="align-baseline">
                              11:00  - 01:00 
                          </div>
                        </td>
                        <td style="vertical-align:bottom;border-top:none;!important">
                          <div class="align-baseline">
                              Oral Presentations
                          </div>
                        </td>
                    </tr>
                    <tr>
                        <td style="vertical-align:bottom;border-top:none;!important">
                          <div class="align-baseline">
                              01:00  - 02:00 
                          </div>
                        </td>
                        <td style="vertical-align:bottom;border-top:none;!important">
                          <div class="align-baseline">
                              Lunch
                          </div>
                        </td>
                    </tr>
                    <tr>
                        <td style="vertical-align:bottom;border-top:none;!important">
                          <div class="align-baseline">
                              02:00  - 04:00 
                          </div>
                        </td>
                        <td style="vertical-align:bottom;border-top:none;!important">
                          <div class="align-baseline">
                              DWSIM/OpenModelica Workshop
                          </div>
                        </td>
                    </tr>
                    <tr>
                        <td style="vertical-align:bottom;border-top:none;!important">
                          <div class="align-baseline">
                              04:00  - 04:15 
                          </div>
                        </td>
                        <td style="vertical-align:bottom;border-top:none;!important">
                          <div class="align-baseline">
                              Tea
                          </div>
                        </td>
                    </tr>
                    <tr>
                        <td style="vertical-align:bottom;border-top:none;!important">
                          <div class="align-baseline">
                              04:15  - 05:30 
                          </div>
                        </td>
                        <td style="vertical-align:bottom;border-top:none;!important">
                          <div class="align-baseline">
                              Panel Discussion, Valedictory
                          </div>
                        </td>
                    </tr>

                    
                    </table>
                </div>
                </div>
            </div>
    </section>

    <section id="location" class="section location">
        <div class="container">
            <div class="row">
                <div class="col-sm-3">
                    <h3 class="section-title">Venue</h3>
                    <address>
                        <p>Lecture Hall Complex <br> IIT Bombay <!-- <br> Phone: (+91) 22 2576 4111<br> Email: contact-dwsim[at]fossee[dot]in --> </p>
                    </address>
                </div>
                <div class="col-sm-9">
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3769.472585331343!2d72.916895!3d19.130779999999994!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3be7c7f4215f57bf%3A0xcf0c03ea45a113e1!2sLecture+Hall+Complex+(LHC)!5e0!3m2!1sen!2sin!4v1434726932900" width="100%" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
                </div>
            </div>
        </div>
    </section>
    
    <section id="organiser" class="section organiser">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h3 class="section-title">Organiser</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6">
                    <a href="https://fossee.in" class="organiser-box organiser-box-1" target="_blank"></a>
                </div>
                <div class="col-sm-6">
                    <a href="https://www.che.iitb.ac.in/online/" class="organiser-box organiser-box-2" target="_blank"></a>
                </div>
            </div>
    </section>

    <section id="contact-us" class="section contact-us">
        <div class="container">
            <div class="row">
                <div class="col-md-8">
                <h3 class="section-title">Supported by</h3>
                 <div class="table-responsive">
                    <table class="table">
                         <tr>
                         <td style="vertical-align:bottom;border-top:none;!important">
                            <div class="text-center align-baseline">
                        <a href="http://mhrd.gov.in/" target="_blank"><img src="{% static 'website/bootstrap-css/assets/images/mhrd.png' %}" class="text-center"></a>
                    </div>
                    </td>
                            <td style="vertical-align:bottom;border-top:none;!important">
                            <div class="text-center align-baseline">
                        <a href="https://dwsim.fossee.in" target="_blank"><img src="{% static 'website/bootstrap-css/assets/images/logo_2.png' %}" class="text-center" ></a>
                    </div>
                            </td> 
                            <td style="vertical-align:bottom;border-top:none;!important">
                            <div class="text-center align-baseline">
                        <a href="https://om.fossee.in" target="_blank"><img src="{% static 'website/bootstrap-css/assets/images/om_logo.png' %}" class="text-center" ></a>
                    </div>
                    </td>
                    <td style="vertical-align:bottom;border-top:none;!important">
                            <div class="text-center align-baseline">
                        <a href="https://www.iitb.ac.in/" target="_blank"><img src="{% static 'website/bootstrap-css/assets/images/logo_5.png' %}"  class="text-center"></a>
                    </div>
                    </td>
                    </tr>
                    </table>
                </div> 
                </div>
                
                <div class="col-md-3">
                <h3 class="section-title">Contact us</h3>
                    <dl class="alt" style="float: right;">
                            <dt>Phone</dt>
                            <dd><i class="fa fa-phone" aria-hidden="true"></i> (+91) 22 2576 4111</dd>
                            <dd><i class="fa fa-calendar" aria-hidden="true"></i> Monday - Friday</dd>
                            <dd><i class="fa fa-clock-o" aria-hidden="true"></i> 10:00 AM - 6:00 PM</dd>
                            <dt>Email</dt>
                            <dd>
                                <i class="fa fa-envelope" aria-hidden="true"></i> <a style="color:black;" href="mailto:contact-dwsim@fossee.in"> contact-dwsim[at]fossee[dot]in
                                </a>
                            </dd>
                        </dl>
                </div>
            </div>
            </div>
    </section>
<div class="modal fade" id="registermdl" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>
      <div class="modal-body">
          <p class="text-justify">Due to some technical issues, the registration for the conference is postponed by 2 weeks. Keep checking our website for further notifications.</p>
      </div>
      <div class="modal-footer">
          <button type="button" class="btn btn-info" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
{% endblock %}
