{% extends "base.html" %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
{% include 'header.html' %}
<body data-spy="scroll" data-target="#site-nav">
<!-- <div class="se-pre-con"></div> -->

    {% include 'navbar.html' %}
      {% block content %}
    <section id="jobfair" class="section jobfair" style="font-weight: 400;">

    <div class="container">
    <h3 class="section-title">Job Fair</h3>
    <p class="text-justify">The FOSSEE Team and the Department of Chemical Engineering are organising a National Conference on Chemical Process Simulation - 2018 on Monday, 26 Nov. 2018, at IIT Bombay.  This is being organised as a part of the Diamond Jubilee celebration of IIT Bombay.  Prof. Madhavan and Mr. Alok Pandit of Equinox will give Keynote speeches. As a part of conference, a job fair has been organised with the objective to increase the employment opportunities for young and talented chemical engineers and offer wider choice for recruiters in the core areas.</p>
    <div class="panel-group" id="accordion">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title">
          <a data-toggle="collapse" data-parent="#accordion" href="#employers">For Employers</a>
        </h4>
      </div>
      <div id="employers" class="panel-collapse collapse" style="padding: 20px;">
        <h3>For Employers</h3>

		<h4>Introduction</h4>
		<p class="text-justify">FOSSEE, IIT Bombay, is excited to invite your esteemed organisation to the job fair to be conducted in connection with the National Conference on Chemical Process Simulation-2018 to be held on 26 November 2018 at IIT Bombay.</p>

    <p class="text-justify">In this conference, we shall showcase the excellent work done in the area of chemical process simulation by faculty members and students of top engineering colleges in India, who have created 100 flowsheets of interesting and important processes using the open source process simulator DWSIM.  Some of these smart students are very keen to take up core chemical engineering jobs.  They are also likely to stay with your company for a reasonable period of time.  A select number of them will participate in the Job Fair, to be organised along with the Conference.</p>
		<span>What we offer?</span>
		<ul>
			<li>Meeting bright chemical engineering students who are experts in process modelling and simulation</li>
			<li>Accommodation for the company/ organisation representatives (for 2 people) for one night</li>
			<li>One room at the venue where your organization can meet and interact with prospective recruits</li>
		</ul>
		<p>If you are interested, please fill the <a href="https://docs.google.com/forms/d/e/1FAIpQLSch3uui8LBI_TxNifCpjv6imLSKsSxjToSo1AotLReUjAkbew/viewform" target="_blank" style="color:#806600 !important;text-decoration: underline;">form</a> with the details.In case of any queries, please reach out to us at <a href="mailto:contact-dwsim@fossee.in">contact-dwsim@fossee.in </a></p>
      </div>
    </div>
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title">
          <a data-toggle="collapse" data-parent="#accordion" href="#students">For Job Aspirants</a>
        </h4>
      </div>
      <div id="students" class="panel-collapse collapse"  style="padding: 20px;">
    		<h4>Introduction</h4>
    		<p class="text-justify">FOSSEE, IIT Bombay, is pleased to invite all the bright chemical engineering minds to the job fair which is to be conducted in connection with the the National Conference on Chemical Process Simulation - 2018 to be held at IIT Bombay on 26 November 2018.</p>

        <p>Many chemical engineering core industries have been invited to participate in this job fair. Equinox, Ingenero are few among those who have confirmed their presence. If you are interested in meeting the companies, please fill this <a href="https://docs.google.com/forms/d/e/1FAIpQLScYn5tIpiMwlw553rn1V01Lt2scKft9JwmcHgmWPDYVJ7KTtQ/viewform" target="_blank" style="color:#806600 !important;text-decoration: underline;">form</a>. In case of any queries, please reach out to us at <a href="mailto:contact-dwsim@fossee.in">contact-dwsim@fossee.in</a>.</p>
        <p class="text-justify">Please note that it is mandatory for the job aspirants to register for the conference to participate in the job fair. More details about registration is available <a href="https://dwsim.fossee.in/nccps-2018/#registration" style="color:#806600 !important;text-decoration: underline;">here</a>.</p>

      </div>
    </div>
  </div> 
    <div class="row">
    <h3>Recruiters</h3>
    <p class="text-justify">
      Following companies are likely to visit us:
    </p>
      <div class="col-md-6">
        <figure>
            <a href="http://www.equinoxsoftwareservices.com/index.php/Home"><img alt="" class="img-responsive center-block img-rounded" src="{% static 'website/bootstrap-css/assets/images/recruiters/equinox.jpg' %}"></a>
        </figure>
      </div>
      <div class="col-md-6" style="margin-top: 1%;">
        <figure>
            <a href="http://www.ingenero.com/"><img alt="" class="img-responsive center-block img-rounded" src="{% static 'website/bootstrap-css/assets/images/recruiters/ingenero.jpg' %}"></a>                
        </figure>
      </div>
      </div>
      <div class="row"  style="margin-top: 5%;">
      <div class="col-md-6">
        <figure>
            <a href="http://www.lnthydrocarbon.com/"><img alt="" class="img-responsive center-block img-rounded" src="{% static 'website/bootstrap-css/assets/images/recruiters/l&t.jpg' %}"></a>                
        </figure>
      </div>
      <div class="col-md-6">
        <figure>
            <a href="https://www.tcs.com/engineering"><img alt="" class="img-responsive center-block img-rounded" src="{% static 'website/bootstrap-css/assets/images/recruiters/tcs.jpg' %}"></a>
        </figure>
      </div>
    </div><br><br>
      <p class="text-justify">More companies will be updated soon...</p>
    </div>
	</section>


      {% endblock %}
