
{% load static %}
<!-- Navigation -->
{% block nav %}
    <nav id="site-nav" class="navbar navbar-fixed-top navbar-custom">
        <div class="container">
            <div class="navbar-header">

                <!-- logo -->
                <div class="site-branding">
                    <a class="logo" href="{{SITE_URL}}">
                        
                        <!-- logo image  -->
                        <!-- <img src="{% static 'website/bootstrap-css/assets/images/logo.png' %}" class="img-fluid" style="max-width: 10%;" alt="Logo"> -->

                        NCCPS 2018
                    </a>
                </div>

                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-items" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>

            </div><!-- /.navbar-header -->

            <div class="collapse navbar-collapse" id="navbar-items">
                <ul class="nav navbar-nav navbar-right">

                    <!-- navigation menu -->
                    <li class="active"><a data-scroll href="{{SITE_URL}}/#about">About</a></li>
                    <li><a data-scroll href="{{SITE_URL}}/#speakers">Speakers</a></li>
                    <li><a data-scroll href="{{SITE_URL}}/#contribution">CFP</a></li>
                    <li><a data-scroll href="{{SITE_URL}}/#cod">Code of Conduct</a></li>
                    <li><a data-scroll href="{{SITE_URL}}/#location">Venue</a></li>
                    <li><a data-scroll href="{{SITE_URL}}/#organiser">Organiser</a></li>
                    <li><a data-scroll href="{{SITE_URL}}/#contact-us">Contact Us</a></li>
                    <!--<li><a data-scroll href="{{SITE_URL}}/#schedule">Schedule</a></li>
                    <li><a data-scroll href="{{SITE_URL}}/#sponsor">Sponsor</a></li>
                    <!-- <li><a data-scroll href="{{SITE_URL}}/#faq">FAQ</a></li>
                    <li><a data-scroll href="{{SITE_URL}}/#photos">Photos</a></li> 
                    <li><a data-scroll href="{{SITE_URL}}/#team">Team</a></li> -->
                <!--    {% if user.is_authenticated %}
                      <li><a href="{% url 'login' %}"><i class="fa fa-user" aria-hidden="true"></i>
                        {{ user.username }}!</a></li>
                    <li><a href="{% url 'logout' %}">logout</a></li>
                        {% else %}
                    <li><a href="{% url 'login' %}">login</a></li>
                    {% endif %} -->
                </ul>
            </div>
        </div><!-- /.container -->
    </nav>

{% endblock %}
