{% extends "base.html" %}
{% load static %}
 {% block content %}
<section id="proposal" class="section proposal">
    <div class="container">

        <center>
            {% if user and not user.is_anonymous %}
            <h2>Submit Proposal</h2>
            {% else %}
            <h2>Login</h2>
            {% endif %}
        </center>

        {% if proposal_submit %}
        <center>
            <table>
                <tr>
                    <td>
                        <p>Thank You for your submission. Your proposal has been saved successfully and is under review. You can check the status of submission <a href="">here 
                        </a>!
                        </p>
                    </td>
                </tr>
            </table>
        </center>
        {% endif %} {% if registration_complete %}
        <center>
            <p>Thank You for your registration. You can now log in by clicking <a href="">here 
               </a>!
            </p>
            <br/><br/>
        </center>
        {% endif %} {% if user and not user.is_anonymous and not login_required %}
        <p>We invite you to submit proposals for talks or workshops to be presented at SciPy 2018 The time duration for talks is 15 or 30 minutes and for workshops is 2 to 4 hours. There will be two parallel tracks for the workshops this year. One track
            is meant for beginners and the other is for advanced users.
        </p>
        <span>
            <h2>
               <u>Important Dates</u>
            </h2>
         </span>
        <ul>
            <li>Call for proposals opens:
                <b>15<sup>th</sup> Sept. 2018</b>
            </li>
            <li>Last date for submission of proposals:
                <b>10<sup>th</sup> Nov. 2018</b>
            </li>
            <li>Announcement of selected proposals:
                <b>15<sup>th</sup> Nov. 2018</b>
            </li>
        </ul>
        <br/> {% if user.is_superuser %}
        <center>
            <a href="{{ SITE_URL }}/proposal/view" class="btn btn-info">View Proposals</a>
            <a href="{{ SITE_URL }}/proposal/submitcfp" class="btn btn-info">Submit Proposal</a>
            <a href="" class="btn btn-info">Submit Workshop</a>
        </center>
        {% else %}
        <center>
            <a href="{{ SITE_URL }}/proposal/view" class="btn btn-info">View Proposals</a>
        </center>
        {% endif %} {% else %}

        <hr>
        <div class="row">
            <div class="col-sm-4">
                <span>
                  <h2>
                     <u>Login</u>
                  </h2>
               </span>
                <p>Login/Register to Submit a Proposal</p>
                {% if invalid %}
                <p style="color:red; font-size:15px;">* Invalid Username/Password</p>
                {% endif %}
                <!-- <div id = "my_form"> -->
                <form action="" method="POST">
                    {{ form.as_p }}
                    <button class="button special" name="login" type="submit">Login</button>
                    <br/><br/>
                    <a style="padding-right : 20px;" href="{% url 'userregister' %}" class="btn btn btn-primary">Create an Account
                  </a><br>
                    <a href="/2017/forgotpassword/">Forgot Password?</a> {% csrf_token %}
                </form>
                <!-- </div> -->
                <p>Or Sign in with:&nbsp;<br>
                    <a href="{% url 'social:begin' 'google-oauth2' %}?next={{ request.path }}" class="btn btn-social-icon " style="color:#d34836;">
                     <i class="fa fa-google-plus-square" style="font-size:40px;"></i>
                  </a>&nbsp;
                    <a href="{% url 'social:begin' 'facebook' %}?next={{ request.path }}" class=" btn btn-social-icon" style="color:#3b5998">
                     <i class="fa fa-facebook-square" style="font-size:40px;"></i>
                  </a>
                </p>
                <br>
                <p>
                    <h4>
                        <u>Important Dates</u>
                    </h4>
                    <ul style="margin-left: -7%;">
                        <li>Call for proposals opens: <br>
                            <b>15<sup>th</sup> Sept. 2017</b>
                        </li>
                        <li>Last date for submission of proposals: <br>
                            <b>10<sup>th</sup> Nov. 2018</b>
                        </li>
                        <li>Announcement of selected proposals: <br>
                            <b>15<sup>th</sup> Nov. 2018</b>
                        </li>
                    </ul>

            </div>

            <div class="col-sm-4" align="justify" style="background-color: #cef3f8;">
                <br>
                <h4 class="panel-title">
                    Guidelines for a Proposal
                </h4>
                <ul style="margin-left: -6%;">
                    <li>The project should be an actual implementation rather than just an idea.</li>
                    <li>Besides implementation, the submission can also be about experiences and usage of Python, Python-based tools and libraries for research or teaching.</li>
                    <li>Abstract should be of 300 to 700 words describing the topic, including its relevance to scientific computing or the use of Python in education.</li>
                    <li>All selected proposals must be presented at the conference by atleast one author.</li>
                </ul>
            </div>
            <div class="col-sm-4" align="justify" style="background-color: #8cc9f0;">
                <br>
                <h4 class="panel-title">
                    Guidelines for a Workshop
                </h4>

                <ul style="margin-left: -6%;">
                    <li>There are two parallel tracks, one for beginners and one for advanced users.</li>
                    <li>The workshops should be hands-on with plenty of exercises for the users.</li>
                    <li>It is advisable to pick particular problem(s) and orient your workshop around how to solve those using the package you plan to talk about.</li>
                    <li>Provide us with links to any resources you have already prepared for the workshop.</li>
                </ul>
            </div>

        </div>


    </div>
    {% endif %}

</section>
{% endblock %}
