{% extends "base.html" %}

{% load static %}
 {% block content %}
<br><br>
 <div class="container">
     <br><br>
    <table>
        {% for question in question_list %}
          <a href="{{URL_ROOT}}/nccps-2018/edit_question/{{question.id}}">  {{ question.question | safe }}<br><br></a>
        {% endfor %}
    </table>
    <br>
    <a href="{% url 'website:add_questions' %}" ><button class="btn-default btn-warning"> Add Question </button></a>
    <a href="{% url 'website:leaderboard' %}" ><button class="btn-default btn-info"> LeaderBoard </button></a>
    <!-- <a href="{% url 'website:uploadmodel' %}" ><button class="btn-default btn-success"> Upload Models </button></a> -->
    <br><br>
</div>


{% endblock %}