{% extends "base.html" %}
{% load static %}
{% load widget_tweaks %}
<div class="se-pre-con"></div>
{% block content %}
    <section id="register" class="section register">
        <div class="container">
            <center>
                <h2>Sign Up</h2>
            </center>
{% if form.errors %}
    {% for field in form %}
        {% for error in field.errors %}
            <div class="alert alert-danger">
                <strong>{{ error|escape }}</strong>
            </div>
        {% endfor %}
    {% endfor %}
{% endif %}
                <form action="" method=POST>
                {% csrf_token %}
                 <!-- <a style="color:red; ">{{ render_field.errors }}</a>-->
                <div class="row">
                <div class="col-12">
                  <table class="table table-bordered table-responsive">
                    <tr>
                    <td style="vertical-align:bottom;border-top:none;!important">
                          <div class="align-baseline">
                          <label for="username">Username:</label>
                            <span style="color:red;">*</span>
                          </div>
                    </td>
                    <td style="vertical-align:bottom;border-top:none;!important">
                          <div class="align-baseline">
                          {% render_field form.username %}
                          </div>
                    </td>
                    </tr>
                    <tr>
                    <td style="vertical-align:bottom;border-top:none;!important">
                          <div class="align-baseline">
                          <label for="username">Email:</label>
                            <span style="color:red;">*</span>
                          </div>
                    </td>
                    <td style="vertical-align:bottom;border-top:none;!important">
                          <div class="align-baseline">
                          {% render_field form.email %}
                          </div>
                    </td>
                    </tr>
                    <tr>
                    <td style="vertical-align:bottom;border-top:none;!important">
                          <div class="align-baseline">
                          <label for="pwd">Password:</label><span style="color:red;">*</span>
                          </div>
                    </td>
                    <td style="vertical-align:bottom;border-top:none;!important">
                          <div class="align-baseline">
                          {% render_field form.password %}
                          </div>
                    </td>
                    </tr>
                    <tr>
                    <td style="vertical-align:bottom;border-top:none;!important">
                          <div class="align-baseline">
                          <label for="cnfpwd">Confirm Password:</label><span style="color:red;">*</span>
                          </div>
                    </td>
                    <td style="vertical-align:bottom;border-top:none;!important">
                          <div class="align-baseline">
                          {% render_field form.confirm_password %}
                          </div>
                    </td>
                    </tr>
                    <tr>
                    <td style="vertical-align:bottom;border-top:none;!important">
                          <div class="align-baseline">
                          <label for="name">Full Name:</label><span style="color:red;">*</span>
                          </div>
                    </td>
                    <td style="vertical-align:bottom;border-top:none;!important">
                          <div class="align-baseline">
                          {% render_field form.title %}{% render_field form.first_name %} {% render_field form.last_name %}
                          </div>
                    </td>
                    </tr>
                    <tr>
                    <td style="vertical-align:bottom;border-top:none;!important">
                          <div class="align-baseline">
                          <label for="contact">Contact:</label><span style="color:red;">*</span>
                          </div>
                    </td>
                    <td style="vertical-align:bottom;border-top:none;!important">
                          <div class="align-baseline">
                          {% render_field form.phone_number %}
                          </div>
                    </td>
                    </tr>
                    <tr>
                    <td style="vertical-align:bottom;border-top:none;!important">
                          <div class="align-baseline" style="word-wrap: break-word;">
                          <label for="institute">Institue/ Organization/ Company:</label><span style="color:red;">*</span>
                          </div>
                    </td>
                    <td style="vertical-align:bottom;border-top:none;!important">
                          <div class="align-baseline" style="word-wrap: break-word;">
                          {% render_field form.institute %}<br><span style="font-size: 12px;">Enter your institute/ organisation/ company</span>
                          </div>
                    </td>
                    </tr>
                    <tr> 
                    <td style="vertical-align:bottom;border-top:none;!important">
                          <div class="align-baseline">
                          <label for="how_did_you_hear_about_us" style="word-wrap: break-word;">How did you hear about us:</label><span style="color:red;">*</span>
                          </div>
                    </td>
                    <td style="vertical-align:bottom;border-top:none;!important">
                          <div class="align-baseline">
                          {% render_field form.how_did_you_hear_about_us %}
                          </div>
                    </td>
                    </tr>
                    <tr>
                   <!-- <td style="vertical-align:bottom;border-top:none;!important">
                          <div class="align-baseline">
                          </div>
                    </td> -->
                    <td colspan="2" style="vertical-align:bottom;border-top:none;!important">
                          <div class="align-baseline">
                          <span style="color:red;">*</span> marked fields are mandatory. Please enter the correct information. It will help us to solve your issues in short timespan.
                          </div>
                    </td>
                    </tr>
                    </table>
                    </div>
                    </div>
                    <div class="row">
                    <center>
                        <div class="col-sm-4"> <a class="btn btn-link btn-block" href="{% url 'auth:login' %}">I have an account</a></div>
                        <div class="col-sm-2"><button class="btn btn-primary btn-block" type="submit">Sign Up</button></div>
                    </center>
                    </div> 
                <!-- </div> -->
            </form>
            <br>
            </div>
        <!--</div>-->
       </section>
{% endblock %}